---
import PageLayout from "../../core/layouts/PageLayout.astro";
import ProjectsSection from "../../modules/projects/sections/ProjectsSection"
import {getCollection, render} from "astro:content";

const lang = Astro.currentLocale;
if(!lang) return;
const title = lang === "es" ? "Proyectos" : "Projects"
const collection = await getCollection("projects");
const data = await (async () => {
  const items = [];
  for await (const item of collection) {
    if (!item.id.includes(lang)) continue;
    const { Content } = await render(item);
    items.push({ ...item.data, Content });
  }
  return items;
})();
---
<PageLayout lang={lang} path="projects" title="Projects">
  <section class="w-full h-fit flex flex-col gap-y-5">
    <div class="">
      <h2 class="text-5xl font-semibold font-serif">{title}</h2>
    </div>
    <div class="w-full h-[1px] bg-neutral-300"/>
    <ProjectsSection items={data} client:only lang={lang} />
  </section>
</PageLayout>