---
import HeaderNav from "../components/HeaderNav.astro";
import { Image } from "astro:assets";
import dark from "../assets/logo/dark.svg";
import FloatingElements from "../components/FloatingElements.astro";
interface Props {
  lang: string;
  path: string;
}
const { lang, path } = Astro.props;
const icon = dark;
---

<header
        id="header"
  class="fixed top-10 z-10 w-[95%] flex justify-between transition-normal duration-300 border-neutral-300/60
    backdrop-blur-sm bg-neutral-100/30"
>
    <figure class="px-4">
      <Image src={icon} alt="Juan Zuniga Logo" width={26} />
    </figure>
    <div class="flex items-center gap-x-4">
        <HeaderNav lang={lang} path={path} />
    </div>
</header>
