---
import type {CSSProperties} from "react";
interface Props{
    name: string
    layer: number
}
const {name, layer} = Astro.props;
let styles: CSSProperties = {marginTop: 0}
if(layer!==0){
    styles = {marginTop: `${40*layer}px`}
}
---
<div class="flex flex-col items-center mt-0 gap-y-1 font-poppins xl:text-sm text-xs" style={styles}>
    <figure class="2xl:w-8 2xl:h-8 xl:w-6 xl:h-6 w-5 h-5">
        <slot/>
    </figure>
    <h5 class="font-light capitalize text-center">{name}</h5>
</div>