---
import LanguageIcon from "../../commons/assets/icons/LanguageIcon.astro";
interface Props{
    content: string
}
const {content} = Astro.props;
---
<div class="flex items-center gap-x-2 2xl:text-base lg:text-sm text-xs flex-nowrap">
    <figure class="xl:w-5 xl:h-5 w-4 h-4 text-text-muted">
        <slot/>
    </figure>
    <h4>{content}</h4>
</div>
