<svg viewBox="0 0 512 512" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" >
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
        <defs><style>.cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:13px;}</style></defs>
        <title></title>
        <path class="cls-1" d="M170.67,128.37H341.33a0,0,0,0,1,0,0v41.18A85.33,85.33,0,0,1,256,254.89h0a85.33,85.33,0,0,1-85.33-85.33V128.37a0,0,0,0,1,0,0Z"></path>
        <path class="cls-1" d="M320,383.63a64,64,0,0,0-128,0Z"></path>
        <line class="cls-1" x1="256" x2="256" y1="254.89" y2="319.63"></line>
        <path class="cls-1" d="M311.59,234.3h28.85A43.56,43.56,0,0,0,384,190.74V170.3H341.33"></path>
        <path class="cls-1" d="M200.41,234.3H171.56A43.56,43.56,0,0,1,128,190.74V170.3h42.67"></path>
    </g>
</svg>