---
interface Props {
  title: string;
  content: string;
}
const { title, content } = Astro.props;
---

<div class="grid grid-cols-5 items-center lg:gap-x-2 2xl:gap-x-4 lg:text-sm 2xl:text-base">
  <h4
    class="font-semibold font-serif text-nowrap text-ellipsis overflow-x-hidden col-span-2"
  >
    {title}:
  </h4>
  <span class="font-light col-span-3 italic">{content}</span>
</div>
