---
import GithubActivityCalendar from "./GithubActivityCalendar"
import GithubIcon from "../../../../core/icons/GithubIcon.astro";
---
<div class="p-4 border-2 border-neutral-300 rounded-2xl flex flex-col gap-y-4 w-fit">
    <div class="flex items-center gap-x-2 px-4 py-1.5 rounded-2xl border-[1px] border-neutral-300 w-fit">
        <figure class="w-6 h65">
            <GithubIcon/>
        </figure>
        <span>Github Activity</span>
    </div>
    <GithubActivityCalendar client:only/>
</div>