---
import GithubActivityCalendar from "./GithubActivityCalendar";
import GithubIcon from "../../../../core/icons/GithubIcon.astro";
import ResumeContainer from "../../layout/ResumeContainer.astro";
interface Props {
    lang: string;
}
const { lang } = Astro.props;
const title = lang === "es" ? "Actividad de github" : "Github Activity";
---

<ResumeContainer className="col-span-9">
    <figure class="w-6 h-6">
        <GithubIcon />
    </figure>
    <span class="font-light font-serif">{title}</span>
    <GithubActivityCalendar client:only slot="content" />
</ResumeContainer>
