---
import ResumeContainer from "../../layout/ResumeContainer.astro";
import Keyboard from "../../assets/icons/Keyboard.astro";
import Clock from "../../assets/icons/Clock.astro";
import Tooltip from "../../../../core/components/Tooltip.astro";
import Focus from "../../assets/icons/Focus.astro";
import LanguageIcon from "../../../../core/icons/LanguageIcon.astro";
interface Props {
    lang: string;
}
const { lang } = Astro.props;
const title = lang === "es" ? "Velocidad de escritura" : "Typing Speed";
const wpm = 64;
const text = lang === "es" ? "PPM" : "WPM";
---

<ResumeContainer className="col-span-3">
    <figure class="2xl:w-6 2xl:h-6 lg:hidden">
        <Keyboard />
    </figure>
    <span class="lg:text-sm font-light">{title}</span>
    <div
        slot="content"
        class="w-full h-full flex flex-col mt-8 font-light gap-y-5"
    >
        <p class="lg:text-2xl 2xl:text-6xl">
            <span>{wpm}</span>
            <span class="text-xl font-extralight">{text}</span>
        </p>
        <div class="flex items-center gap-x-2 flex-wrap">
            <Tooltip text="Time">
                <figure class="w-6 h-6 text-gray-400">
                    <Clock />
                </figure>
                <span class="text-sm">15s</span>
            </Tooltip>
            <Tooltip text="Accuracy">
                <figure class="w-6 h-6 text-gray-400">
                    <figure class="w-6 h-6 text-gray-400">
                        <Focus />
                    </figure>
                </figure>
                <span class="text-sm">91%</span>
            </Tooltip>
            <Tooltip text="Language">
                <figure class="w-6 h-6 text-gray-400">
                    <LanguageIcon />
                </figure>
                <span class="text-sm">en-US</span>
            </Tooltip>
        </div>
    </div>
</ResumeContainer>
