---
import GitHubActivity from "../components/resume/GitHubActivity.astro";
---
<section class="flex flex-wrap items-center justify-evenly gap-4 py-5">
    <div class="w-fit">
        <GitHubActivity/>
    </div>
</section>