---
import SunIcon from "../assets/icons/SunIcon.astro";
import MoonIcon from "../assets/icons/MoonIcon.astro";
import getHeaderData from "../content/header";
import ThemeSelector from "./ThemeSelector.tsx";
import LanguageChanger from "./LanguageChanger.astro";
interface Props{
    id: number
}
const {id} = Astro.props;
const locale = Astro.currentLocale!;
const data = await getHeaderData(locale);
---
<header class="fixed top-4 w-full h-fit font-cascadia grid grid-cols-3 items-center gap-5 font-light px-2 py-1">
    <nav class="flex items-center-safe gap-x-2">
        {data.nav.map((item,index)=>(
            <a class={`px-5 py-1 transition-colors duration-500 rounded-full hover:bg-light-surface capitalize text-sm
               ${index===id && 'bg-light-surface'} text-center focus:outline-0`}
               href={item.path} target="_self" data-astro-prefetch>
                {item.label}
            </a>
        ))}
    </nav>
    <h4 class="uppercase select-none font-bold text-2xl font-cascadia text-center">{data.title}</h4>
    <div class="h-full px-6 w-fit justify-self-end flex items-center gap-2">
        <ThemeSelector client:load>
            <figure class="hidden dark:flex">
                <SunIcon/>
            </figure>
            <figure class="flex dark:hidden">
                <MoonIcon/>
            </figure>
        </ThemeSelector>
        <LanguageChanger />
    </div>
</header>
