---
import SunIcon from "../assets/icons/SunIcon.astro";
import MoonIcon from "../assets/icons/MoonIcon.astro";
import getHeaderData from "../content/header";
import ThemeSelector from "./ThemeSelector.tsx";
import LanguageChanger from "./LanguageChanger.astro";
interface Props{
    id: number
}
const {id} = Astro.props;
const locale = Astro.currentLocale!;
const data = await getHeaderData(locale);
---
<header class="fixed top-1 w-full justify-self-center h-fit font-cascadia grid grid-cols-3 items-center gap-5
    font-light px-5 xl:px-10 py-3 bg-light-bg/70 z-40 backdrop-blur-lg">
    <div class="flex md:hidden"/>
    <nav class="items-center-safe gap-x-2 hidden md:flex">
        {data.nav.map((item,index)=>(
            <a class={`px-3 xl:px-5 py-1 transition-colors duration-500 rounded-lg xl:rounded-full 
                hover:bg-light-surface capitalize xl:text-sm text-xs
               ${index===id && 'bg-light-surface'} text-center focus:outline-0`}
               href={item.path} target="_self" data-astro-prefetch>
                {item.label}
            </a>
        ))}
    </nav>
    <h4 class="uppercase select-none font-bold text-2xl font-cascadia text-center">{data.title}</h4>
    <div class="h-full w-fit justify-self-end hidden md:flex items-center gap-2">
        <ThemeSelector client:load>
            <figure class="hidden dark:flex">
                <SunIcon/>
            </figure>
            <figure class="flex dark:hidden">
                <MoonIcon/>
            </figure>
        </ThemeSelector>
        <LanguageChanger />
    </div>
</header>
