---
import Header from "../components/Header.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
interface Props{
	lang: string
	title: string
	id: number
}
const {lang, title, id} = Astro.props;
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content={title} />
		<ClientRouter/>
		<title>{title}</title>
	</head>
	<body class="w-dvw h-dvh relative bg-light-bg">
		<Header id={0}/>
		<main id="root" class="w-full h-full overflow-y-auto py-2">
			<slot/>
		</main>
		<script src="/src/commons/scripts/onPageLoad.ts" is:inline />
	</body>
</html>
