---
interface Props {
  value: string;
  description: string;
}
const { value, description } = Astro.props;
---

<div class="flex flex-col items-center w-full">
  <span class="font-semibold lg:text-lg 2xl:text-2xl py-1 font-serif">
    {value}
  </span>
  <span class="font-extralight text-gray-800 capitalize lg:text-sm 2xl:text-base">
    {description}
  </span>
</div>
