---
import { render } from "astro:content";
import { getCollection } from "astro:content";
interface Props {
  lang: string;
}
const { lang } = Astro.props;
const title = lang === "es" ? "Servicios" : "Services";
const data = await getCollection("services");
const items = await (async () => {
  const items = [];
  for await (const item of data) {
    if (!item.id.includes(lang)) continue;
    const { Content } = await render(item);
    items.push({ ...item.data, Content });
  }
  return items;
})();
---

<div class="flex flex-col gap-y-8 justify-end 2xl:justify-center">
  <h3 class="section_subtitle">{title}</h3>
  <ul class="flex flex-col gap-y-5">
    {
      items.map((item) => (
          <div class="flex flex-col gap-y-2">
            <div class="flex items-end gap-x-2">
              <div class="rounded-lg p-1.5 border-[1px] border-neutral-200 bg-white">
                <figure class="w-6 h-6">
                  <item.Content/>
                </figure>
              </div>
              <h4 class="content_title">{item.title}</h4>
            </div>
            <p class="content ml-2">
              {item.description}
            </p>
          </div>
      ))
    }
  </ul>
</div>
