---
import { render } from "astro:content";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div class="flex flex-col gap-y-2">
  <div class="flex items-end gap-x-2">
    <div class="rounded-lg p-1.5 border-[1px] border-neutral-200 bg-white">
      <figure class="w-6 h-6">
        <slot />
      </figure>
    </div>
    <h4 class="mb-1 lg:text-base italic font-medium">{title}</h4>
  </div>
  <p class="lg:text-sm xl:text-base font-extralight text-gray-700 px-2 font-serif">
    {description}
  </p>
</div>
