---
import {getHomeHero} from "../content/system";
import {Image} from "astro:assets"
import profile from "../../commons/assets/images/profile.png";
import LeftHero from "./LeftHero.astro";
const locale = Astro.currentLocale!;
const system = await getHomeHero(locale);
---
<div class="w-[97%] h-full flex flex-col pt-10 gap-10 justify-self-center">
    <div class="h-1/2">
    </div>
    <div class="w-full h-full rounded-2xl relative grid grid-cols-3">
        <div class="grid gap-2">
            <LeftHero/>
        </div>
        <div class="w-fit h-full bg-light-surface rounded-2xl relative place-self-center">
            <div class="w-[500px]" />
            <Image src={profile} alt="profile photo anime style" width={500}
                   class="object-cover absolute bottom-0 right-0 rounded-br-2xl"/>
        </div>
    </div>
</div>