---
import SectionLayout from "../../commons/layouts/SectionLayout.astro"
import getTestimonials from "../content/testimonials";
import TestimonialsIsland from "../components/TestimonialsIsland";
const locale = Astro.currentLocale!;
const title = locale === "en" ? "Testimonials" : "Testimonios"
const data = await getTestimonials(locale);
---
<SectionLayout title={title}>
    <div class="grid grid-cols-2 gap-5 relative h-fit w-full">
        <TestimonialsIsland client:visible data={data} />
    </div>
</SectionLayout>