---
import type IHeaderNav from "../types/IHeaderNav";
interface Props{
    path: string,
    lang: string,
}
const {path, lang} = Astro.props;
const en: IHeaderNav[] = [
    {label: "Home", path: "/"},
    {label: "Projects", path: "/projects"},
]
const items = lang === "es" ? en : en;
---
<nav class="flex col-span-2 justify-self-center items-center justify-evenly text-sm rounded-3xl transition-all
     bg-white font-serif w-80 py-1.5 px-5">
    {items.map((item)=>(
        <a href={`/${lang}${item.path}`}
           class={`rounded-2xl hover:text-gray-900 
            ${path.toLocaleLowerCase() === item.label.toLocaleLowerCase() ?
           "text-gray-900" : "text-gray-900/60"}`}>
            {item.label}
        </a>
    ))}
    <a href="" class={`rounded-2xl text-gray-900/60 hover:text-gray-900`}>
        Blog
    </a>
</nav>
