---
import HomeIcon from "../icons/HomeIcon.astro";
import PortfolioIcon from "../icons/PortfolioIcon.astro";
import NavItem from "./NavItem.astro";
import BlogIcon from "../icons/BlogIcon.astro";
import ResumeIcon from "../icons/ResumeIcon.astro";
interface Props{
    path: string,
    lang: string,
}
const {path, lang} = Astro.props;
---
<nav class="flex gap-x-4 col-span-2 items-center justify-center text-xs">
    <NavItem active={path === "home"} href={`/${lang}/`}>
        <figure class="w-5 h-5">
            <HomeIcon />
        </figure>
        <span>Home</span>
    </NavItem>
    <NavItem active={path === "resume"} href={`/${lang}/resume`}>
        <figure class="w-5 h-5 text-gray-500">
            <ResumeIcon />
        </figure>
        <span>Resume</span>
    </NavItem>
    <NavItem active={path === "projects"} href={`/${lang}/projects`}>
        <figure class="w-5 h-5">
            <PortfolioIcon />
        </figure>
        <span>Projects</span>
    </NavItem>
    <NavItem active={false} href="">
        <figure class="w-5 h-5 text-gray-500">
            <BlogIcon />
        </figure>
        <span>Blog</span>
    </NavItem>
</nav>
