---
import ActiveSvg from "../assets/svg/ActiveSvg.astro";
import type IHeaderNav from "../types/IHeaderNav";
interface Props {
  item: IHeaderNav;
}
const {item} = Astro.props;
---
<div id={`bt${item.path}`}
     class="rounded-2xl group text-blue-600 hover:text-blue-400 relative cursor-pointer">
  <span class="text-gray-700 dark:text-white capitalize">{item.label}</span>
  <figure class="w-full group-hover:opacity-100 opacity-0 h-1 absolute bottom-0">
    <ActiveSvg/>
  </figure>
</div>